@use '../../utils/shared';

// config 

$ROOT: shared.makeRoot('Sidebar');
@function el($name) {
  @return shared.makeSubElementName($ROOT, $name);
}

#{$ROOT} {
  @apply flex flex-col p-0 py-[8px] border-r-2 border-gray-500 border-opacity-10;
  @apply text-gray-900 transition-all duration-500 min-h-full;
  &.is-collapsed {
    &.size-small {
      width: 56px !important;
    }
    &.size-medium {
      width: 64px !important;
    }
    &.size-large {
      width: 80px !important;
    }
  }

  &.size-small {
    width: 200px;
  }
  &.size-medium {
    width: 240px;
  }
  &.size-large {
    width: 320px;
  }

  &.is-dark {
    @apply bg-dark-gray-600 text-gray-50;
  }
}

#{el('logo')} {
  @apply p-[8px];
}

#{el('item')} {
  @apply flex relative bg-transparent py-[16px] w-full;

  #{$ROOT}.size-small & {
    @apply px-[16px] gap-[16px];
  }
  #{$ROOT}.size-medium & {
    @apply px-[20px] gap-[20px];
  }
  #{$ROOT}.size-large & {
    @apply px-[24px] gap-[24px];
  }
}

#{el('item-icon')} {
  @apply w-[20px] h-[20px] text-gray-600;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;

  #{$ROOT}.size-medium & {
    @apply w-[24px] h-[24px];
  }
  #{$ROOT}.size-large & {
    @apply w-[32px] h-[32px];
  }
}

#{el('item-label')} {
  @apply line-clamp-1;

  #{$ROOT}.size-small & {
    @apply text-[14px] leading-[20px];
  }

  #{$ROOT}.size-medium & {
    @apply text-[16px] leading-[24px];
  }

  #{$ROOT}.size-large & {
    @apply text-[20px] leading-[32px];
  }
}

#{el('item-badge')} {
  @apply absolute rounded-md bg-purple-100 text-purple-600 transition-all duration-500 text-[12px] w-[20px] h-[20px];

  #{$ROOT}.size-small &, #{$ROOT}.size-medium &, #{$ROOT}.size-large & {
    @apply text-[12px] w-[20px] h-[20px] right-[16px];
  }

  #{$ROOT}.is-dark & {
    @apply bg-purple-600 text-purple-50;
  }

  #{$ROOT}.size-small & {
    @apply top-[16px];
  }

  #{$ROOT}.size-medium & {
    @apply top-[18px];
  }

  #{$ROOT}.size-large & {
    @apply top-[22px];
  }

  #{$ROOT}.is-collapsed & {
    @apply rounded-full bg-purple-600 text-purple-50 text-[10px] w-[18px] h-[18px];
  }
  #{$ROOT}.is-collapsed.size-small & {
    @apply right-[8px] top-[8px];
  }
  #{$ROOT}.is-collapsed.size-medium & {
    @apply right-[10px] top-[10px];
  }
  #{$ROOT}.is-collapsed.size-large & {
    @apply right-[12px] top-[12px];
  }
}

#{el('overlay')} {
  @apply absolute top-0 left-0 w-full h-full bg-dark-gray-50 transition opacity-0;

  #{el('item')}.is-hovered & {
    @apply opacity-10;
  }

  #{el('item')}.is-pressed & {
    @apply opacity-30;
  }
}

#{el('item-padder')} {
  @apply flex-grow;
}
